*.o
.vscode/
*.elf
*.map
*.z64

realtimeshadows/build/
realtimeshadows/debugger
realtimeshadows/assets/

palletecb/build/
palletecb/debugger
palletecb/assets/

normalmapping/build/
normalmapping/debugger
normalmapping/assets/

performancetesting/build/
performancetesting/debugger
performancetesting/assets/